<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ROADSTER REVIVAL</title>
    
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    
    <link rel="stylesheet" href="/stylesheets/feed.css">

</head>
<body>
    
<header class="header">

    <div id="menu-btn" class="fas fa-bars"></div>

    <a href="#" class="logo"> <img src="/image/LOGO.jpg" height="50px" width="100px"> </a>

    <nav class="navbar">
        <a href="#home">Home</a>
        <a href="#vehicles">Vehicles</a>
        <a href="#services">Services</a>
        <a href="#featured">Featured</a>
        <a href="#reviews">Reviews</a>
        <a href="#contact">Contact</a>
    </nav>

    <div id="login-btn">
        <!-- <button class="btn">Login</button> -->
         <a href="/profile" class="btn">Account</a>
        <i class="far fa-user"></i>
    </div>

</header> 



<section class="home" id="home">

    <h3 >Find your car</h3>

    <img  src="image/GROUP PIC.jpg" alt="">

    <a  href="car selling.html" class="btn">explore cars</a>

</section>

<section class="icons-container">

    <div class="icons">
        <i class="fas fa-home"></i>
        <div class="content">
            <h3>150+</h3>
            <p>branches</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-car"></i>
        <div class="content">
            <h3>4770+</h3>
            <p>cars sold</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-users"></i>
        <div class="content">
            <h3>320+</h3>
            <p>happy clients</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-car"></i>
        <div class="content">
            <h3>1500+</h3>
            <p>news cars</p>
        </div>
    </div>

</section>

<section class="vehicles" id="vehicles">

    <h1 class="heading"> POPULAR <span>VEHICLES</span> </h1>

    <div class="swiper vehicles-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="image/AM 1.jfif.jpg" alt="">
                <div class="content">
                    <h3>ASTON MARTIN 336</h3>
                    <div class="price"> <span>price : </span> ₹9,00,000/- </div>
                    <p>
                        new
                        <span class="fas fa-circle"></span> 1960
                        <span class="fas fa-circle"></span> Automatic
                        <span class="fas fa-circle"></span> petrol
                        <span class="fas fa-circle"></span> 183mph
                    </p>
                    <a href="/book" class="btn">check out</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/Audi  1.jfif.jpg" alt="">
                <div class="content">
                    <h3>AUDI 225</h3>
                    <div class="price"> <span>price : </span> ₹5,45,000/- </div>
                    <p>
                        new
                        <span class="fas fa-circle"></span> 1995
                        <span class="fas fa-circle"></span> Automatic
                        <span class="fas fa-circle"></span> petrol
                        <span cssslass="fas fa-circle"></span> 190mph
                    </p>
                    <a href="Checkout audi.html" class="btn">check out</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/BMW 1.jfif.jpg" alt="">
                <div class="content">
                    <h3>BMW 327</h3>
                    <div class="price"> <span>price : </span> ₹7,80,000/- </div>
                    <p>
                        new
                        <span class="fas fa-circle"></span> 1946
                        <span class="fas fa-circle"></span> Automatic
                        <span class="fas fa-circle"></span> petrol
                        <span class="fas fa-circle"></span> 196mph
                    </p>
                    <a href="Checkout Bmw.html" class="btn">check out</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/MERCEDEZ BENZ 1.jpg" alt="">
                <div class="content">
                    <h3>MERCEDES BENZ 400</h3>
                    <div class="price"> <span>price : </span> ₹8,90,000/- </div>
                    <p>
                        new
                        <span class="fas fa-circle"></span> 1929
                        <span class="fas fa-circle"></span> Automatic
                        <span class="fas fa-circle"></span> petrol
                        <span class="fas fa-circle"></span> 188mph
                    </p>
                    <a href="Checkout merc.html" class="btn">check out</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/P 1.jfif.jpg" alt="">
                <div class="content">
                    <h3>PORSCHE 324</h3>
                    <div class="price"> <span>price : </span> ₹9,50,000/- </div>
                    <p>
                        new
                        <span class="fas fa-circle"></span> 1955
                        <span class="fas fa-circle"></span> Automatic
                        <span class="fas fa-circle"></span> petrol
                        <span class="fas fa-circle"></span> 180mph
                    </p>
                    <a href="/book" class="btn">check out</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/RR 1.jfif.jpg" alt="">
                <div class="content">
                    <h3>ROLLS ROYCE 3</h3>
                    <div class="price"> <span>price : </span> ₹11,50,000/- </div>
                    <p>
                        new
                        <span class="fas fa-circle"></span> 1936
                        <span class="fas fa-circle"></span> Automatic
                        <span class="fas fa-circle"></span> petrol
                        <span class="fas fa-circle"></span> 184mph
                    </p>
                    <a href="/book" class="btn">check out</a>
                </div>
            </div>

        </div>

        <div class="swiper-pagination"></div>

    </div>

</section>

<section class="services" id="services">

    <h1 class="heading"> OUR <span>SERVICES</span> </h1>

    <div class="box-container">

        <div class="box">
            <i class="fas fa-car"></i>
            <h3>car selling</h3>
            <p>
                "Revving Up Your Dreams: Premium Classic Cars, Tailored for You!"</p>
            <a href="/carSelling" class="btn"> read more</a>
        </div>

        <div class="box">
            <i class="fas fa-tools"></i>
            <h3>parts repair</h3>
            <p>"Revive Your Ride: Quality Parts Repair for a Smooth Journey!"</p>
            <a href="/Repair" class="btn"> read more</a>
        </div>

        <div class="box">
            <i class="fas fa-car-crash"></i>
            <h3>car insurance</h3>
            <p>"Secure Your Drive: Comprehensive Car Insurance for Peace of Mind on Every Mile!"</p>
            <a href="/carInsurance" class="btn"> read more</a>
        </div>

        <div class="box">
            <i class="fas fa-car-battery"></i>
            <h3>battery replacement</h3>
            <p>"Revitalize Your Ride: Premium Battery Replacement for Unmatched Performance!"</p>
            <a href="#" class="btn"> read more</a>
        </div>

        <div class="box">
            <i class="fas fa-gas-pump"></i>
            <h3>oil change</h3>
            <p>"Engine Ready, Performance Steady: Expert Oil Changes for a Smoother Drive!"</p>
            <a href="#" class="btn"> read more</a>
        </div>

        <div class="box">
            <i class="fas fa-headset"></i>
            <h3>24/7 support</h3>
            <p>
                "Always On, Always There: 24/7 Support for Your Peace of Mind!"</p>
            <a href="24/7.html" class="btn"> read more</a>
        </div>

    </div>

</section>

<section class="featured" id="featured">

    <h1 class="heading"> <span>FEATURED</span> CARS </h1>

    <div class="swiper featured-slider">

       <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="image//AM 2.jfif.jpg" alt="">
                <div class="content">
                    <h3>ASTON MARTIN DB2 </h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">₹15,65,000/-</div>
                    <a href="/book" class="btn">check out</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/AM 3.jfif.jpg" alt="">
                <div class="content">
                    <h3>ASTON MARTIN DB5</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">₹16,00,000/-</div>
                    <a href="/book" class="btn">check out</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/AM 4.jfif.jpg" alt="">
                <div class="content">
                    <h3>ASTON MARTIN DB4</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">₹14,00,000/-</div>
                    <a href="/book" class="btn">check out</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/AM 5.jfif.jpg" alt="">
                <div class="content">
                    <h3>ASTON MARTIN MK3</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">₹13,60,000/-</div>
                    <a href="/book" class="btn">check out</a>
                </div>
            </div>

       </div>

       <div class="swiper-pagination"></div>

    </div>

    <div class="swiper featured-slider">

        <div class="swiper-wrapper">
 
             <div class="swiper-slide box">
                 <img src="image/AUDi 2.jfif.jpg" alt="">
                 <div class="content">
                     <h3>AUDI RS2</h3>
                     <div class="stars">
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star-half-alt"></i>
                     </div>
                     <div class="price">₹11,50,000/-</div>
                     <a href="/Audi" class="btn">check out</a>
                 </div>
             </div>
 
             <div class="swiper-slide box">
                 <img src="image/Audi 3.jfif.jpg" alt="">
                 <div class="content">
                     <h3>AUDI 100</h3>
                     <div class="stars">
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star-half-alt"></i>
                     </div>
                     <div class="price">₹10,50,000/-</div>
                     <a href="/Audi" class="btn">check out</a>
                 </div>
             </div>
 
             <div class="swiper-slide box">
                 <img src="image/Audi 4.jfif.jpg" alt="">
                 <div class="content">
                     <h3>AUDI 80</h3>
                     <div class="stars">
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star-half-alt"></i>
                     </div>
                     <div class="price">₹10,00,000/-</div>
                     <a href="/book" class="btn">check out</a>
                 </div>
             </div>
 
             <div class="swiper-slide box">
                 <img src="image/Audi 5.jfif.jpg" alt="">
                 <div class="content">
                     <h3>AUDI 50</h3>
                     <div class="stars">
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star-half-alt"></i>
                     </div>
                     <div class="price">₹12,00,000/-</div>
                     <a href="/book" class="btn">check out</a>
                 </div>
             </div>
 
        </div>
 
        <div class="swiper-pagination"></div>
 
     </div>


     <div class="swiper featured-slider">

        <div class="swiper-wrapper">
 
             <div class="swiper-slide box">
                 <img src="image/BMW 2.jfif.jpg" alt="">
                 <div class="content">
                     <h3>BMW 328</h3>
                     <div class="stars">
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star-half-alt"></i>
                     </div>
                     <div class="price">₹12,65,000/-</div>
                     <a href="/book" class="btn">check out</a>
                 </div>
             </div>
 
             <div class="swiper-slide box">
                 <img src="image/BMW 3.jfif.jpg" alt="">
                 <div class="content">
                     <h3>BMW E9</h3>
                     <div class="stars">
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star-half-alt"></i>
                     </div>
                     <div class="price">₹13,45,000/-</div>
                     <a href="/book" class="btn">check out</a>
                 </div>
             </div>
 
             <div class="swiper-slide box">
                 <img src="image/BMW 4.jpg" alt="">
                 <div class="content">
                     <h3>BMW E31</h3>
                     <div class="stars">
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star-half-alt"></i>
                     </div>
                     <div class="price">₹15,50,000/-</div>
                     <a href="/book" class="btn">check out</a>
                 </div>
             </div>
 
             <div class="swiper-slide box">
                 <img src="image/BMW 5.jfif.jpg" alt="">
                 <div class="content">
                     <h3>BMW 335</h3>
                     <div class="stars">
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star-half-alt"></i>
                     </div>
                     <div class="price">₹12,40,000/-</div>
                     <a href="/book" class="btn">check out</a>
                 </div>
             </div>
 
        </div>
 
        <div class="swiper-pagination"></div>
 
     </div>
     
     <div class="swiper featured-slider">

        <div class="swiper-wrapper">
 
             <div class="swiper-slide box">
                 <img src="image/RR 2.jfif.jpg" alt="">
                 <div class="content">
                     <h3>ROLLS ROYCE PHANTOM I </h3>
                     <div class="stars">
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star-half-alt"></i>
                     </div>
                     <div class="price">₹20,00,000/-</div>
                     <a href="/book" class="btn">check out</a>
                 </div>
             </div>
 
             <div class="swiper-slide box">
                 <img src="image/RR 3.jfif.jpg" alt="">
                 <div class="content">
                     <h3>ROLLS ROYCE DAWN</h3>
                     <div class="stars">
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star-half-alt"></i>
                     </div>
                     <div class="price">₹19,50,000/-</div>
                     <a href="/book" class="btn">check out</a>
                 </div>
             </div>
 
             <div class="swiper-slide box">
                 <img src="image/RR 4.jfif.jpg" alt="">
                 <div class="content">
                     <h3>ROLLS ROYCE 100ex</h3>
                     <div class="stars">
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star-half-alt"></i>
                     </div>
                     <div class="price">₹18,95,000/-</div>
                     <a href="/book" class="btn">check out</a>
                 </div>
             </div>
 
             <div class="swiper-slide box">
                 <img src="image/RR 5.jfif.jpg" alt="">
                 <div class="content">
                     <h3>ROLLS ROYCE CORNICHE</h3>
                     <div class="stars">
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star-half-alt"></i>
                     </div>
                     <div class="price">₹19,00,000/-</div>
                     <a href="/book" class="btn">check out</a>
                 </div>
             </div>
 
        </div>
 
        <div class="swiper-pagination"></div>
 
     </div>

</section>

<section class="newsletter">
    
    <h3>Subscribe for latest updates</h3>
    <p>Stay ahead of the curve by subscribing for the latest updates! Whether you're a classic car enthusiast or simply looking to keep your vehicle in top shape, our subscription service delivers the freshest news, exclusive offers, and expert tips right to your inbox.</p>

   <form action="https://formspree.io/f/mkgnryky" method="post">
       
    <input type="email" name="name" placeholder="Enter your email">
        <input type="submit" value="subscribe">
   </form>

</section>

<section class="reviews" id="reviews">

    <h1 class="heading"> Client's <span>review</span> </h1>

    <div class="swiper review-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="image/pic-1.png" alt="">
                <div class="content">
                    <p>The entire process was seamless, from browsing their extensive inventory to the final paperwork. The staff was knowledgeable and passionate about classic cars, making me feel confident in my purchase.</p>
                    <h3>Arjun Mehta</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/pic-2.png" alt="">
                <div class="content">
                    <p>The detailed listings and high-quality photos made it easy to choose. Their team took the time to answer all my questions, and their enthusiasm for classic cars was infectious.</p>
                    <h3>Priya Kapoor</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/pic-3.png" alt="">
                <div class="content">
                    <p>The car was in excellent condition and exactly as advertised. The only reason I’m giving four stars instead of five is that the shipping took a bit longer than expected.</p>
                    <h3>Rahul Singh</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/pic-4.png" alt="">
                <div class="content">
                    <p>The buying process was straightforward, and they even helped me with financing options. The car arrived in perfect condition, and I love driving it around town.</p>
                    <h3>Anita Sharma</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/pic-5.png" alt="">
                <div class="content">
                    <p>The team was incredibly helpful and knowledgeable, which made my decision much easier. The car itself is a masterpiece and runs beautifully. .</p>
                    <h3>Karan Joshi</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="image/pic-6.png" alt="">
                <div class="content">
                    <p>The team at Roadster Revival was incredibly helpful, guiding me through every step. The car arrived exactly as described—like a piece of art! Highly recommend!".</p>
                    <h3>Nisha Guptar</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

        </div>

        <div class="swiper-pagination"></div>

    </div>

</section>

<section class="contact" id="contact">

    <h1 class="heading"><span>Contact</span> Us</h1>

    <div class="row">

        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30153.788252261566!2d72.82321484621745!3d19.141690214227783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b63aceef0c69%3A0x2aa80cf2287dfa3b!2sJogeshwari%20West%2C%20Mumbai%2C%20Maharashtra%20400047!5e0!3m2!1sen!2sin!4v1632137920043!5m2!1sen!2sin" allowfullscreen="" loading="lazy"></iframe>

        <form action="https://formspree.io/f/mkgnryky" method="POST">
            <h3>GET IN TOUCH</h3>
            <input type="text" placeholder="Your name" name="name" class="box" required>
            <input type="email" placeholder="Your email" name="email" class="box" required>
            <input type="tel" placeholder="Subject" name="subject" class="box" required>
            <textarea placeholder="Your message" name="message" class="box" cols="30" rows="10" required></textarea>
            <input type="submit" value="Send Message" class="btn">
        </form>
    

    </div>

</section>

<section class="footer" id="footer">

    <div class="box-container">

        <div class="box">
            <h3>Our branches</h3>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> India </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Japan </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> France </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Russia </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> USA </a>
        </div>

        <div class="box">
            <h3>Quick links</h3>
            <a href="#"> <i class="fas fa-arrow-right"></i> Home </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> Vehicles </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> Services </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> Featured </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> Reviews </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> Contact </a>
        </div>

        <div class="box">
            <h3>Contact info</h3>
            <a href="#"> <i class="fas fa-phone"></i> +123-456-7890 </a>
            <a href="#"> <i class="fas fa-phone"></i> +111-222-3333 </a>
            <a href="#"> <i class="fas fa-envelope"></i> navya4409@gmail.com </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Mumbai, india - 400104 </a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="facebook.html"> <i class="fab fa-facebook-f"></i> Facebook </a>
            <a href="twitter.html"> <i class="fab fa-twitter"></i> Twitter </a>
            <a href="instagram.html"><i class="fab fa-instagram"></i> Instagram </a>
            <a href="linkedin.html"> <i class="fab fa-linkedin"></i> Linkedin </a>
            <a href="pinterest.html"> <i class="fab fa-pinterest"></i> Pinterest </a>
        </div>

    </div>

    <div class="credit"> Created by NAVYA and MANVIR| All rights reserved </div>

</section>


<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<script src="/javascripts/feed.js"></script>


</body>
</html>
